body{
    margin:0;
    padding:0;
}

[class*="col-"]{
    padding:10px;
    height:50px;
    box-sizing: border-box;
    float:left;
    margin:10px;
    background-color:#eee;
    border:1px solid #999;

}
.rows:after{
    content:"";
    display: table ;
    clear:both;
}/*清除浮动*/
/*根据当前位置分配box*/
@media only screen and (min-width:769px){
    .col-md-1{
        width:calc(8.3% - 20px);
    }
    .col-md-2{
        width:calc(16.67% - 20px);
    }
    .col-md-3{
        width:calc(25% - 20px);
    }
    .col-md-4{
        width:calc(33.3% - 20px);
    }
    .col-md-6{
        width:calc(50% - 20px);
    }
}
@media only screen and (max-width:768px){
    .col-sm-2{
        width:calc(16.67% - 20px);
    }
    .col-sm-3{
        width:calc(25% - 20px);
    }
    .col-sm-6{
        width:calc(50% - 20px);
    }
    .col-sm-8{
        width:calc(66.66% - 20px);
    }
    .col-sm-12{
        width:calc(100% - 20px);
    }

}